// GENERAL
$c--primary: #8c2aff;
$c--accent: #13ffa2;
$c--general-orange: #F6B83D;
$c--error-color: #FF5252;

$c--general-blue: #516696;
$c--general-border: #EBEBEB;
$c--general-background: #f0f1f3;
$c--opacity-blue: #F1F3F8;
$c--white: #FFFFFF;
$c--black: #000000;
$c--active-link: #5476c2;
$c--caption-text: #9b9b9b;


// FOOTER
$c--footer-numbers: #1976D2;
$c--footer-comments: rgba(42, 82, 152, 0.6);

// Inputs

$c--input-bg: #e8e9eb;
$c--input-focused-border: #96A2BF;

// Inputs
$c--error-color: #DE8484;
$c--input-bg: #FDFDFD;
$c--input-border: #e8e8e8;
$c--input-focused-border: #96A2BF;


