@font-face {
  font-family: 'Opensans';
  src: url('~@/assets/fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans_semibold';
  src: url('~@/assets/fonts/open_sans_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans_bold';
  src: url('~@/assets/fonts/opensans_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('~@/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('~@/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('~@/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
